/* Rodapé */
footer {
	background: url('../imgs/bg.jpg');
	box-sizing: border-box;
	height: 17rem;
	padding: 40px 0;
	text-align: center;
}

footer img {
	height: 10rem;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 20px;
}